*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

:root{
  --primary-color:hsl(172, 67%, 45%);
  
  --very-dark:hsl(183, 100%, 15%);
  --dark:hsl(186, 14%, 43%);
  --grayish:hsl(184, 14%, 56%);
  --light:hsl(185, 41%, 84%);
  --very-light:hsl(189, 41%, 97%);
  --white:hsl(0, 0%, 100%);
  
  
  --primary-font: 'Space Mono', monospace;
  --font-weight:700;
}

body{
  background-color: var(--light);
  font-family: var(--primary-font);
  font-weight: var(--font-weight);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
}

.main-container{
  display: flex;
  flex-direction: column;
  grid-gap: 50px;
}

.logo-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator-container{
  height: 330px;
  width: 660px;
  background-color: var(--white);
  border-radius: 30px;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.inputs-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  grid-gap: 20px;
}

.total-bill-input,
.number-of-people{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.total-bill-input label,
.number-of-people label,
.tip-percent-select label{
  color: var(--dark);
  font-size: 14px;
}

.total-bill-input input,
.number-of-people input{
  height: 30px;
  background-color: var(--very-light);
  border: none;
  border-bottom: 2px solid var(--dark);
  text-align: right;
  padding: 3px 10px;
  font-family: var(--primary-font);
  color: var(--very-dark);
}

.percent-options-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 10px;
  margin-top: 10px;
}

.percent-options-container button{
  padding: 8px;
  border: none;
  background-color: var(--very-dark);
  color: var(--very-light);
  font-family: var(--primary-font);
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
}

.percent-options-container input{
  border: none;
  border-bottom: 2px solid var(--dark);
  background-color: var(--very-light);
  width: 100%;
  border-radius: 5px;
}

.percent-options-container input::placeholder{
  color: var(--dark);
  font-family: var(--primary-font);
  text-align: center;
}





.results-container{
  background-color: var(--very-dark);
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-gap: 30px;
}

.results-container-up{
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}

.tip-amount-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tip-amount-left{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.tip-amount-text{
  color: var(--white);
  font-size: 12px;
}

.tip-amount-person{
  color: var(--grayish);
  font-size: 10px;
}

.tip-amount-right{
  color: var(--primary-color);
  font-size: 24px;
  display: flex;
  align-items: center;
}

.reset-button{
  background-color: var(--primary-color);
  color: var(--very-dark);
  border: none;
  font-family: var(--primary-font);
  padding: 5px;
  border-radius: 5px;
}

@media screen and (max-width:700px){
  .calculator-container{
    height: fit-content;
    max-width: 350px;
    grid-template-columns: 1fr;
  }

  .percent-options-container{
    grid-template-columns: repeat(2,1fr);
  }
}